<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="pokebro.pokebro" android:versionCode="1" android:versionName="Official Release">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="PokéBro" android:theme="@style/MyTheme" android:icon="@drawable/icon">
		<!-- Google play services -->
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>
</manifest>